:root{
    --color-principal:black;
    --maximo-de-largo: 960px;
    --Tamaño-textos: 1.5rem;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
html{
    font-size: 62.5%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
/*header*/
header {
    background-color: var(--color-principal);
    color: white;
    text-align: center;

}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-b{
    padding-right: 20px;
}
.contenedor{
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
}
.contenedor ul, li{
    display: flex;
    list-style: none;
    padding-left: 10px;
    font-size: var(--Tamaño-textos);
}
.contenedor, .b-descargar{
    
}
.b-descargar{
    color: white;
    width: 150px;
    height: 20px;
    background-color: var(--color-principal);
    border-radius: 2px;
    border: 1px solid white;
}
.Logo{
    width: 60px;
    height: 60px;
}

