:root{
    --color-principal:black;
    --maximo-de-largo: 960px;
}
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
/*html{
    font-size: 62.2%;
}*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
/*header*/
header {
    background-color: var(--color-principal);
    color: white;
    text-align: center;

}
.info{

}
.contenedor{
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}

.Logo{
    width: 60px;
    height: 60px;
}
.container {
    max-width: var(--maximo-de-largo);
    margin: 0 auto;
    padding: 2em;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.project {
    margin-bottom: 2em;
    border: 1px solid #ccc;
    padding: 1em;
}

/*footer*/

footer{
    max-width:var(--maximo-de-largo);
    height: 5px;
    background-color: black;
}
